@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Speaker <a href="/Speaker">Click</a></p>
    <p>Joiner <a href="/Joiner">Click</a></p>
</div>
