@page
@model Syncer.WebApp.Pages.JoinerModel
@{
    ViewData["Title"] = "Joiner page";
}
<div class="container">
    <h2 id="presentation_name"></h2>
    <p id="presentation_desc"></p>
    
    <div>
        <ul id="milestones">

        </ul>
        <hr />
        <ul id="emojies">
        </ul>
    </div>
 
</div>


@section Scripts
{
    <script>
        const presentationId = getCookie("presentation");
        const username = getCookie("username");
        const baseUrl = 'https://localhost:7209/Presentation/'
 
        $.get(baseUrl + presentationId, function (data) {
            $("#presentation_name").text(data.title);
            $("#presentation_desc").text(data.description);

            for (var i = 0; i < data.milestones.length; i++) 
            {
                $("#milestones").append("<li id='ml" + data.milestones[i].id + "'>" + data.milestones[i].title + ", <span class='status'>" + data.milestones[i].status + "</span></li>");
            }
        });

        setInterval(MilestoneStatus, 15000);

        function MilestoneStatus() 
        { 
            $.get(baseUrl + presentationId, function (data) {

                $("#milestones").empty();
                var hasProcessing = false;
                var selectedId = 0;

                for (var i = 0; i < data.milestones.length; i++) {
                    $("#milestones").append("<li id='ml" + data.milestones[i].id + "'>" + data.milestones[i].title + ", <span class='status'>" + data.milestones[i].status + "</span></li>");

                    if (data.milestones[i].status === "Processing") {
                        hasProcessing = true;
                        selectedId = data.milestones[i].id;
                    }
                }

                $("#emojies").empty();
                if (hasProcessing) {
                    InProcessing(selectedId);
                }

            });
        }


        function InProcessing(milestoneId) 
        {
            $.get(baseUrl + presentationId + "/" + milestoneId + "/emojis", function (data) {
                for (var i = 0; i < data.length; i++) {
                    var htmlCode = "&#x" + data[i].code.replace("U+", "") + ";";
                    $("#emojies").append("<li class='mlemoji' data-code='" + data[i].code + "'>" + htmlCode + "</li>");
                }

                $(".mlemoji").on("click", function () { 
                    const userdata = JSON.stringify({
                        code: $(this).data("code"),
                        username: username
                    });

                    debugger
                    var endpoointUrl = baseUrl + presentationId + "/reaction"
                    $.ajax({
                        url: endpoointUrl,
                        data: userdata,
                        contentType: 'application/json',
                        dataType: 'json',
                        type: 'Post',
                        success: function (response) {
                            alert('saved!');
                        },
                        error: function () {
                            alert('Please fill out all fields.');
                        }
                    });
                    
                })

            });
        }


        function getCookie(name) {
            const nameEQ = name + "=";
            const cookiesArray = document.cookie.split(';');

            for (let i = 0; i < cookiesArray.length; i++) {
                let cookie = cookiesArray[i].trim();
                if (cookie.indexOf(nameEQ) === 0) {
                    return cookie.substring(nameEQ.length, cookie.length);
                }
            }
            return null; 
        }

    </script>
}

@section Styles
{
    <style>
        body {
            background-color: #ffe599;
            font-family: Arial, sans-serif;
        }

        .container {
            margin: 20px auto;
            padding: 20px;
            width: 50%;
            background-color: white;
            border: 2px solid green;
            border-radius: 8px;
        }

        h2 {
            text-align: center;
            color: green;
        }

        ul li
        {
            font-size:20px;
        }

       
    </style>
}